* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

p {
  line-height: 1.25em;
}

nav {
  border-top: 0.4em solid #5ac;
  display: flex;
  align-items: center;
}

nav * {
  padding: 1em;
}

img {
  max-width: 100%;
}

#logo {
  height: 7em;
  width: 7em;
}

.hero-image {
  width: 100%;
  height: 45%;
  overflow: hidden;
}
